 <!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>I Groom Up</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="../cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="static/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300i,400,400i,700%7CMontserrat:400,500,600,700%7C">
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/fonts.css">
    <link rel="stylesheet" href="static/css/style.css">
  </head>
  <body>
    <div class="preloader"> 
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
          <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
          <div class="rd-navbar-aside-outer rd-navbar-collapse">
            <div class="rd-navbar-aside">
              <div class="header-info">
                <ul class="list-inline list-inline-md">
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                      <div class="unit-left font-weight-bold">Call:</div>
                      <div class="unit-body"><a href="tel:+911234567890">+911234567890</a></div>
                    </div>
                  </li>
                  <li>
                    <div class="unit unit-spacing-xs align-items-center">
                      <div class="unit-left font-weight-bold">Email: </div>
                      <div class="unit-body"><a href="mailto:order@igroomup.in">order@igroomup.in</a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="social-block">
                <ul class="list-inline">
                  <li><a class="icon fa-facebook" href="#"></a></li>
                  <li><a class="icon fa-twitter" href="#"></a></li>
                  <li><a class="icon fa-google-plus" href="#"></a></li>
                  <li><a class="icon fa-vimeo" href="#"></a></li>
                  <li><a class="icon fa-youtube" href="#"></a></li>
                  <li><a class="icon fa-pinterest-p" href="#"></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="index.html"><img src="static/images/logo-dark-main-171x44.png" alt="" width="171" height="44"/></a></div>
              </div>
              <div class="rd-navbar-main-element"> 
                <div class="rd-navbar-nav-wrap">
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="rd-nav-item {{index}}"><a class="rd-nav-link" href="/">Home</a></li>
                    <li class="rd-nav-item {{contact}}"><a class="rd-nav-link" href="contact">Contact</a></li>
                    <li class="rd-nav-item {{zeesaa}}"><a class="rd-nav-link" href="zeesaa">Zeesaa</a></li>
                    <li class="rd-nav-item {{razitor}}"><a class="rd-nav-link" href="razitor">Razitor</a></li>
                    <li class="rd-nav-item {{blog}}"><a class="rd-nav-link" href="blog">Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
      </header>
      {% block content %}{% endblock %}
      <footer class="section bg-default section-sm footer-modern">
        <div class="container">
          <div class="row row-50">
            <div class="col-sm-12 col-lg-4">
              <p class="footer-title">Recent Posts</p>
              <div class="divider-lg"> </div>
              <div class="footer-post">
                <h5><a href="blog-post.html">Top 5 Reasons to Visit the Nearest Nail Salon</a></h5>
                <ul class="list-inline">
                  <li>June 10, 2018    </li>
                  <li>3  Comments </li>
                </ul>
              </div>
              <div class="footer-post">
                <h5><a href="blog-post.html">One Day from the Life of a Nail Artist</a></h5>
                <ul class="list-inline">
                  <li>June 12, 2018    </li>
                  <li>3  Comments</li>
                </ul>
              </div>
            </div>
            <div class="col-sm-12 col-lg-4">
            </div>
            <div class="col-sm-12 col-lg-4">
              <p class="footer-title">Contact Information</p>
              <div class="divider-lg"></div>
              <ul class="footer-contact-info">
                <li><span class="icon mdi mdi-map-marker icon-primary"></span>803, Pinnacle Tower, A-42/6, Sector 62, Noida, Uttar Pradesh 201301</li>
                <li><span class="icon mdi mdi-phone icon-primary"></span><a href="tel:+919910291771">+919910291771</a><span>, </span><a href="tel:+918076374609">+918076374609</a></li>
                <li><span class="icon mdi mdi-email-outline icon-primary"></span><a href="mailto:order@igroomup.in">order@igroomup.in</a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
      <section class="bg-gray-100 section-xxs text-center">
        <div class="container">
          <div class="row row-30 align-items-lg-center">
            <div class="col-lg-3 text-lg-left"><a href="index.html"><img src="static/images/logo-footer-133x31.png" alt="" width="133" height="31"/></a></div>
            <div class="col-lg-6 text-lg-center">
              <p class="rights"><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>&nbsp;</span><span>All Rights Reserved</span><span>&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a></p>
            </div>
            <div class="col-lg-3 text-lg-right">
              <div class="social-block-footer">
                <ul class="list-inline">
                  <li><a class="icon fa-facebook" href="index.html#"></a></li>
                  <li><a class="icon fa-twitter" href="index.html#"></a></li>
                  <li><a class="icon fa-google-plus" href="index.html#"></a></li>
                  <li><a class="icon fa-vimeo" href="index.html#"></a></li>
                  <li><a class="icon fa-youtube" href="index.html#"></a></li>
                  <li><a class="icon fa-pinterest-p" href="index.html#"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="static/js/core.min.js"></script>
    <script src="static/js/script.js"></script>
</html>