{% extends "layout.html" %}
{% block content %}
      <section class="section swiper-container swiper-slider swiper-slider-1 slider-pagination-vertical slider-scale-effect" data-loop="false" data-autoplay="5500" data-simulate-touch="false" data-slide-effect="fade">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-bg swiper-white-filter" style="background-image: url(static/images/slide-4-1-1920x780.jpg)"></div>
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row justify-content-xl-between">
                  <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6 swiper-caption-inner">
                    <h2 data-caption-animate="fadeInUp" data-caption-delay="100">I Groom Up</h2>
                    <div class="divider-lg" data-caption-animate="fadeInLeft" data-caption-delay="550"></div>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">We put the beauty in beauty industry.</p><a class="button button-primary" href="/#heading1" data-caption-animate="fadeInUp" data-caption-delay="450">Know More</a>
                  </div>
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <div class="slider-img-block"><img src="static/images/home-1-387x440.png" alt="" data-caption-animate="fadeInUp" data-caption-delay="500"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-bg swiper-white-filter" style="background-image: url(static/images/slide-4-1-1920x780.jpg)"></div>
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row justify-content-xl-between">
                  <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6 swiper-caption-inner">
                    <h2 data-caption-animate="fadeInUp" data-caption-delay="100">ZeeSaa</h2>
                    <div class="divider-lg" data-caption-animate="fadeInLeft" data-caption-delay="550"></div>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">We have a range of PPE kits for your, your staff and your salon safety.</p><a class="button button-primary" href="zeesaa" data-caption-animate="fadeInUp" data-caption-delay="450">Know more!</a>
                  </div>
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <div class="slider-img-block"><img src="static/images/zeesaa.png" alt="" data-caption-animate="fadeInUp" data-caption-delay="500"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide-bg swiper-white-filter" style="background-image: url(static/images/slide-4-1-1920x780.jpg)"></div>
            <div class="swiper-slide-caption section-md">
              <div class="container">
                <div class="row justify-content-xl-between">
                  <div class="col-sm-8 col-md-6 col-lg-6 col-xl-6 swiper-caption-inner">
                    <h2 data-caption-animate="fadeInUp" data-caption-delay="100">Razitor</h2>
                    <div class="divider-lg" data-caption-animate="fadeInLeft" data-caption-delay="550"></div>
                    <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="250">A magical tool for threading at home and to ensure minimal in salon contact.</p><a class="button button-primary" href="razitor" data-caption-animate="fadeInUp" data-caption-delay="450">Know More!</a>
                  </div>
                  <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <div class="slider-img-block"><img src="static/images/razitor2.png" alt="" data-caption-animate="fadeInUp" data-caption-delay="500"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Swiper Pagination -->
        <div class="swiper-pagination"></div>
      </section>
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50 align-items-lg-center justify-content-lg-around">
            <div class="col-md-6 col-lg-5">
              <div class="box-images-parallax">
                <div class="front-element" data-parallax-scroll="{&quot;y&quot;: -10,   &quot;smoothness&quot;: 30 }"><img src="static/images/razitor2.png" alt="" width="387" height="440"/>
                </div>
                <div class="back-element" data-parallax-scroll="{&quot;y&quot;: 40,  &quot;smoothness&quot;: 30 }"><img src="static/images/home-1-287x380.png" alt="" width="287" height="380"/>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-5">
              <h2 class="heading-decorate" id="heading1">What Is Razitor?</h2>
              <p class="text-gray-800">Razitor Facial Hair Remover is a wonder instrument based on a purely innovative idea of Hair Threading. This innovative technique includes the removal of undesirable hair with a cotton string. However, unlike threading, Razitor does not scratch the skin. Rather, Razitor utilizes an extraordinary exactness spring that permits the expulsion of undesirable facial hair from the roots securely and viably.<br><br>
                <strong>It is private, pain free and convenient!</strong></p>
            </div>
          </div>
        </div>
      </section>
      <section class="section bg-gray-11">
        <div class="row justify-content-center justify-content-lg-start no-gutters">
          <div class="col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row no-gutters box-icon-classic-bordered justify-content-center">
              <div class="col-sm-10 col-md-6">
                <div class="box-icon-classic box-icon-classic-vertical bg-default">
                  <div class="icon-classic-aside">
                    <div class="icon-classic">
                      <i class="fa-5x fa-thumbs-up" style="color: black;" aria-hidden="true"></i>
                    </div>
                    <h4 class="icon-classic-title">Convenient</h4>
                  </div>
                  <div class="icon-classic-body">
                    <p>Avoid regular parlour visits for threading and waxing.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-10 col-md-6 bg-primary">
              </div>
              <div class="col-sm-10 col-md-6 bg-primary">
              </div>
              <div class="col-sm-10 col-md-6">
                <div class="box-icon-classic box-icon-classic-vertical bg-default">
                  <div class="icon-classic-aside">
                    <div class="icon-classic">
                      <i class="fa-5x fa-home" style="color: black;" aria-hidden="true"></i>
                    </div>
                    <h4 class="icon-classic-title">Private</h4>
                  </div>
                  <div class="icon-classic-body">
                    <p>Remove facial hair in the privacy of your home.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-xl-5 col-xxl-6 bg-default">
            <div class="block-img-aside"><img src="static/images/home-3-1-974x626.jpg" alt="" width="974" height="626"/>
          </div>
        </div>
      </section>
      <section class="section parallax-container" data-parallax-img="static/images/parallax-6-1920x780.jpg">
        <div class="parallax-content section-lg text-center ">
          <div class="container">
            <h2>Testimonials on Razitor</h2>
            <div class="divider-lg"></div>
            <!-- Owl Carousel-->
            <div class="owl-carousel carousel-dark-dots" data-items="1" data-dots="true" data-nav="false" data-stage-padding="15" data-loop="true" data-autoplay="true" data-margin="30" data-mouse-drag="false">
              <div class="quote-modern">
                <div class="quote-modern-text">
                  <svg width="66" height="49" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="quote-body-mark">
                   <g>
                    <title>Layer 1</title>
                    <g id="svg_1"/>
                    <path fill="#b3edff" id="svg_2" d="m36.903,49l0,-3.098c9.203,-5.315 14.885,-12.055 17.042,-20.222c-2.335,1.524 -4.459,2.288 -6.37,2.288c-3.186,0 -5.875,-1.29 -8.071,-3.876c-2.194,-2.583 -3.293,-5.74 -3.293,-9.479c0,-4.133 1.443,-7.605 4.327,-10.407c2.887,-2.801 6.435,-4.206 10.647,-4.206c4.213,0 7.735,1.784 10.566,5.352c2.834,3.567 4.249,8.007 4.249,13.317c0,7.482 -2.85,14.183 -8.549,20.112c-5.7,5.925 -12.549,9.331 -20.548,10.219zm-36.213,0l0,-3.098c9.205,-5.315 14.887,-12.055 17.044,-20.222c-2.335,1.524 -4.478,2.288 -6.423,2.288c-3.152,0 -5.823,-1.29 -8.02,-3.876c-2.195,-2.582 -3.291,-5.739 -3.291,-9.478c0,-4.133 1.434,-7.605 4.301,-10.407c2.867,-2.802 6.408,-4.207 10.619,-4.207c4.247,0 7.778,1.784 10.592,5.352c2.814,3.567 4.223,8.007 4.223,13.317c0,7.482 -2.843,14.183 -8.524,20.112c-5.681,5.925 -12.521,9.331 -20.521,10.219z"/>
                   </g>
                  </svg>
                  <p>Your salon is meticulous and outstanding in the service that it provides. I always leave happy and refreshed after a manicure. The salon is absolutely clean and sanitary and your team is always ready to help me make a decision about new nail art.</p>
                </div>
                <div class="quote-modern-caption">
                  <figure class="quote-modern-img"><img src="static/images/user-1-90x90.jpg" alt="" width="90" height="90"/>
                  </figure>
                  <h4 class="quote-modern-title">Amanda Smith</h4>
                  <p class="big">Client</p>
                </div>
              </div>
              <div class="quote-modern">
                <div class="quote-modern-text">
                  <svg width="66" height="49" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="quote-body-mark">
                   <g>
                    <title>Layer 1</title>
                    <g id="svg_1"/>
                    <path fill="#b3edff" id="svg_2" d="m36.903,49l0,-3.098c9.203,-5.315 14.885,-12.055 17.042,-20.222c-2.335,1.524 -4.459,2.288 -6.37,2.288c-3.186,0 -5.875,-1.29 -8.071,-3.876c-2.194,-2.583 -3.293,-5.74 -3.293,-9.479c0,-4.133 1.443,-7.605 4.327,-10.407c2.887,-2.801 6.435,-4.206 10.647,-4.206c4.213,0 7.735,1.784 10.566,5.352c2.834,3.567 4.249,8.007 4.249,13.317c0,7.482 -2.85,14.183 -8.549,20.112c-5.7,5.925 -12.549,9.331 -20.548,10.219zm-36.213,0l0,-3.098c9.205,-5.315 14.887,-12.055 17.044,-20.222c-2.335,1.524 -4.478,2.288 -6.423,2.288c-3.152,0 -5.823,-1.29 -8.02,-3.876c-2.195,-2.582 -3.291,-5.739 -3.291,-9.478c0,-4.133 1.434,-7.605 4.301,-10.407c2.867,-2.802 6.408,-4.207 10.619,-4.207c4.247,0 7.778,1.784 10.592,5.352c2.814,3.567 4.223,8.007 4.223,13.317c0,7.482 -2.843,14.183 -8.524,20.112c-5.681,5.925 -12.521,9.331 -20.521,10.219z"/>
                   </g>
                  </svg>
                  <p>I have been getting my nails done since high school and have been to a lot of different salons. Ann from Blameless salon is by far the best nail tech I have been to. I recommend this salon to every girl looking for the best nail art and customer service.</p>
                </div>
                <div class="quote-modern-caption">
                  <figure class="quote-modern-img"><img src="static/images/user-2-90x90.jpg" alt="" width="90" height="90"/>
                  </figure>
                  <h4 class="quote-modern-title">Janice Bradley</h4>
                  <p class="big">Client</p>
                </div>
              </div>
              <div class="quote-modern">
                <div class="quote-modern-text">
                  <svg width="66" height="49" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" class="quote-body-mark">
                   <g>
                    <title>Layer 1</title>
                    <g id="svg_1"/>
                    <path fill="#b3edff" id="svg_2" d="m36.903,49l0,-3.098c9.203,-5.315 14.885,-12.055 17.042,-20.222c-2.335,1.524 -4.459,2.288 -6.37,2.288c-3.186,0 -5.875,-1.29 -8.071,-3.876c-2.194,-2.583 -3.293,-5.74 -3.293,-9.479c0,-4.133 1.443,-7.605 4.327,-10.407c2.887,-2.801 6.435,-4.206 10.647,-4.206c4.213,0 7.735,1.784 10.566,5.352c2.834,3.567 4.249,8.007 4.249,13.317c0,7.482 -2.85,14.183 -8.549,20.112c-5.7,5.925 -12.549,9.331 -20.548,10.219zm-36.213,0l0,-3.098c9.205,-5.315 14.887,-12.055 17.044,-20.222c-2.335,1.524 -4.478,2.288 -6.423,2.288c-3.152,0 -5.823,-1.29 -8.02,-3.876c-2.195,-2.582 -3.291,-5.739 -3.291,-9.478c0,-4.133 1.434,-7.605 4.301,-10.407c2.867,-2.802 6.408,-4.207 10.619,-4.207c4.247,0 7.778,1.784 10.592,5.352c2.814,3.567 4.223,8.007 4.223,13.317c0,7.482 -2.843,14.183 -8.524,20.112c-5.681,5.925 -12.521,9.331 -20.521,10.219z"/>
                   </g>
                  </svg>
                  <p>I did some search online for a place to get my nails done, and shortly afterward I came across Blameless. Since my first visit, I have always left their salon fully satisfied. Their team is highly qualified and knows how to treat my nails the best way.</p>
                </div>
                <div class="quote-modern-caption">
                  <figure class="quote-modern-img"><img src="static/images/user-3-90x90.jpg" alt="" width="90" height="90"/>
                  </figure>
                  <h4 class="quote-modern-title">Mary Matthews</h4>
                  <p class="big">Client</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section parallax-container" data-parallax-img="static/images/parallax-04-1920x1320.jpg">
        <div class="parallax-content section-lg context-dark text-center section-filter-dark">
          <div class="container">
            <h2>How to use a Razitor</h2>
            <div class="divider-lg"></div>
            <p class="block-lg">In this video, we demonstrate the proper way of using a Razitor to remove your unwanted hair on upperlip safely..</p>
          </div>
          <div class="container">
            <div class="box-video-button" data-lightgallery="group"><a class="button-play" data-lightgallery="item" href="https://www.youtube.com/watch?v=a9hJxQo-1CI"><span class="icon fa-play"></span></a></div>
          </div>
        </div>
      </section>
      <section class="section section-md bg-default text-center">
        <div class="container">
          <h2>Where to buy</h2>
          <div class="divider-lg"></div>
          <p class="block-sm">As of now, Razitor is only being distributed by online means on all the leading online stores.</p>
          <div class="row justify-content-center">
            <div class="col-sm-10 col-lg-12">
              <div class="pricing-list-classic">
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h4>Flipkart</h4>
                    <p>India</p>
                  </div>
                  <div class="price-value">
                    <a class="button button-primary" target="_blank" href="http://www.flipkart.com/igroomup-com-razitor-facial-hair-threader/p/itme9zpuxgthdd5d">Buy Now</a>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h4>Shopclues</h4>
                    <p>India</p>
                  </div>
                  <div class="price-value">
                    <a class="button button-primary" target="_blank" href="http://www.shopclues.com/razitor-a-facial-hair-threader.html">Buy Now</a>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h4>Voonik</h4>
                    <p>India</p>
                  </div>
                  <div class="price-value">
                    <a class="button button-primary" target="_blank" href="http://www.voonik.com/recommendations/razitor-a-facial-hair-threader-i-groom-up-raz01">Buy Now</a>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h4>Amazon</h4>
                    <p>India</p>
                  </div>
                  <div class="price-value">
                    <a class="button button-primary" target="_blank" href="http://www.amazon.in/Igroomup-Razitor-Facial-Hair-Threader/dp/B01AA4UIIY">Buy Now</a>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h4>Snapdeal</h4>
                    <p>India</p>
                  </div>
                  <div class="price-value">
                    <a class="button button-primary" target="_blank" href="http://www.snapdeal.com/product/razitor-facial-hair-threader-pack/624276929484">Buy Now</a>
                  </div>
                </div>
                <div class="pricing-classic-item">
                  <div class="pricing-classic-body">
                    <h4>Indiamart</h4>
                    <p>India</p>
                  </div>
                  <div class="price-value">
                    <a class="button button-primary" target="_blank" href="http://trade.indiamart.com/details.mp?offer=11151587897">Buy Now</a>
                  </div>
                </div>
                
              </div>
            </div>
          </div><a class="button button-primary" href="contact">Bulk Enquiry</a>
        </div>
      </section>
{% endblock %}